html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

header {
    background: #171a21;
    height: 110px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

}

#responsive_logo {
    background: url(images/responsive_logo.png);
    background-size: 100% 100%;
    display: none;
    height: 36px;
    left: 40%;
    position: absolute;
    top: 9px;
    width: 157px;
    z-index: 200;
}

#logo {
    background: url(images/steam.png) no-repeat center;
    display: block;
    float: left;
    height: 50px;
    margin: 30px 0 30px 250px;
    padding-left: 50px;
    width: 150px;
}

#menu_logo {
    background: url(images/menu-button-of-three-horizontal-lines.png) no-repeat left;
    background-size: 100% 100%;
    display: none;
    height: 31px;
    left: 10px;
    position: absolute;
    top: 8px;
    width: 36px;
    z-index: 300;

}

ul {
    list-style: none;
}

li.menu {
    display: inline-block;
    float: left;
    padding-right: 20px;
    padding-top: 48px;

}

a {
    color: #c6d4df;
    text-decoration: none;

}

ul.submenu {
    background: #171a21;
    box-shadow: 3px 3px 5px -3px #000;
    display: none;
    font-size: 11px;
    padding-left: -3px;
    padding-top: 5px;
    position: absolute;
}

nav {
    float: left;
    font-family: "Motiva Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

li.submenu-item {
    padding: 4px 15px 10px 7px;

}

a:hover {
    color: #ffffff;
}

ul > li.menu:hover > ul.submenu {
    display: inline-block;
}

body {
    background: #1b2838;
    font-family: "Motiva Sans", sans-serif;
    height: auto;
    margin-top: 110px;
    width: 100%;

}

.list {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0 110px;
    width: 20%;
}

.cards {
    height: 120px;
    width: 210px;

}

.default {
    font-family: "Motiva Sans", sans-serif;
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 11px;
    text-transform: uppercase;
}

.blue_text {
    color: #66c0f4;
    font-family: "Motiva Sans", sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
}

.icon_friends {
    background-image: url(images/icons.png);
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_curators {
    background-image: url(images/icons.png);
    background-position: -16px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_marks {
    background-image: url(images/icons.png);
    background-position: -32px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_recomends {
    background-image: url(images/icons.png);
    background-position: -48px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_new {
    background-image: url(images/icons.png);
    background-position: -64px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_leader {
    background-image: url(images/icons.png);
    background-position: -80px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_new_upadates {
    background-image: url(images/icons.png);
    background-position: -96px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_new_v2 {
    background-image: url(images/icons.png);
    background-position: -112px 0px;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_comming_soon {
    background-image: url(images/icons.png);
    background-position: -128px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_discount {
    background-image: url(images/icons.png);
    background-position: -144px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_VR {
    background-image: url(images/icons.png);
    background-position: -160px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.icon_controller {
    background-image: url(images/icons.png);
    background-position: -176px 0;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
}

.main_picture {
    background: url(images/main_picture.jpg) no-repeat;
    background-size: 100% 100%;
    height: 350px;
    width: auto;

}

.main_list_container {
    height: auto;
    margin: 0 auto;
    padding: 0 16px 0 160px;
    position: relative;
    width: 850px;
}

.main_list {
    align-items: flex-end;
    display: flex;
    height: 74px;
    justify-content: flex-end;
}

.wish_list {
    background: url(images/background_wishlist.jpg);
    box-shadow: 0 0 3px #000;
    display: block;
    height: 20px;
    position: absolute;
    top: 8px;
    width: 180px;
}

div.wish_list > a {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 100%;
    justify-content: center;
    text-transform: uppercase;
}

div.wish_list:hover {
    background: #bed0c1;
}

div.wish_list:hover > a {
    color: #000000;
}

.list_of_software {
    background: #33718e;
    display: flex;
    height: 40px;
}

.submenu_software {
    display: none;
    padding: 8px 15px 5px 7px;
    width: 150px
}

.menu_software {
    align-items: center;
    border-right: 1px solid #000000;
    box-shadow: 0 0 50px #33718e;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 40px;
    justify-content: center;
    padding: 0 17px 0 17px;

}

.searchbox {
    background: #33718e;
    border-radius: 3px;
    border: 1px solid #1b2838;
    color: #0e1c25;
    font-family: "Motiva Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 17px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}

#input {
    height: 40px;
    padding-left: 40px;
}

ul.menu_software:hover > li > ul > li {
    background: #bed0c1;
    display: block;
}

ul.menu_software:hover > li > ul > li > a {
    color: #000000;
}

ul.submenu_v2 {
    background: #33718e;
    box-shadow: 0 0 50px #33718e;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    margin-left: -15px;
    margin-top: 10px;
    position: absolute;
}

ul.menu_software > li:hover {
    background: #33718e;
}

.white_line {
    border-bottom: #ffffff 1px solid;
    height: 1px;
    width: 150px
}

.li_white_line {
    display: none;
    padding: 0 15px 0 7px;
}

li.submenu_software:hover {
    background: #0e1c25 !important;
}

li.submenu_software:hover > a {
    color: #ffffff !important;
}

li.submenu_software > a {
    padding-left: 7px;
}

.sub_container {
    display: inline-flex;
    width: auto;
}

.popular {
    height: auto;
    padding: 25px 0 0 0;
    width: 845px;
}

aside.popular > a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: auto;
}

.recommended {
    background: url(images/Rocket.PNG);
    background-size: 100% 100%;
    height: 350px;
    width: 528px;
}

.popular_container {
    display: inline-flex;
    width: 100%;
}

.sub_popular_container {
    background-image: url(images/background_maincap_2.jpg);
    background-size: 100% 100%;
    height: 350px;
    width: 317px;
}

aside.sub_popular_container > a {
    align-items: center;
    display: flex;
    font-family: "Motiva Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 22%;
    margin-left: 10px;
    width: 100%;
}

.four_pictures {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 7px;
    grid-template-columns: 115px 115px;
    grid-template-rows: 65px 65px;
    padding-left: 25px;
}

.first_picture {
    background: url(images/first_picture.jpg);
    background-size: 100% 100%;
    height: 65px;
    width: 115px;
}

.second_picture {
    width: 115px;
    height: 65px;
    background: url(images/second_picture.jpg);
}

.third_picture {
    background: url(images/third_picture.jpg);
    height: 65px;
    width: 115px;
}

.forth_picture {
    background: url(images/forth_picture.jpg);
    height: 65px;
    width: 115px;
}

.leader {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    box-shadow: none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 11px;
    line-height: 19px;
    margin: 3px 0 8px 10px;
    max-width: 200px;
    overflow: hidden;
    padding: 0 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
}

.discount {
    background: #000000;
    color: #ffffff;
    display: inline;
    margin-left: 10px;
}

.win_logo {
    background: url(images/win_logo.png);
    display: inline-block;
    float: right;
    height: 20px;
    width: 20px;
}

.Special {
    display: grid;
    grid-column-gap: 7px;
    grid-template-columns: 281.6px 281.6px 281.6px;
    grid-template-rows: 164px 164px;
    height: 330px;
    width: 845px;
}

.first_special {
    background: url(images/firrst_special.jpg);
    background-size: 100% 100%;
    height: 330px;
    width: 274.6px;
}

.second_special {
        background: url(images/second_special.jpg);
    background-size: 100% 100%;
    height: 330px;
    width: 274.6px;
}

.third_special {
    display: block;
    height: 330px;
    width: 274.6px;
}

.forth_special {
    background: url(images/third_picture.jpg);
    background-size: 100% 100%;
    height: 164px;
    width: 274.6px;
}

.fifth_special {
    background: url(images/forth_special.jpg);
    background-size: 100% 100%;
    height: 164px;
    width: 274.6px;
}

.popular_sections {
    display: grid;
    grid-column-gap: 4px;
    grid-template-columns: 215px 215px 215px 215px;
    height: 58px;
    width: 845px;
}

.first_section {
    align-items: center;
    background: url(images/background_spotlight.jpg);
    display: flex;
    justify-content: center;
    width: 195px;
}

.second_section {
    align-items: center;
    background: url(images/background_spotlight.jpg);
    display: flex;
    justify-content: center;
    width: 195px;
}

.third_section {
    align-items: center;
    background: url(images/background_spotlight.jpg);
    display: flex;
    justify-content: center;
    width: 195px;
}

.forth_section {
    align-items: center;
    background: url(images/background_spotlight.jpg);
    display: flex;
    justify-content: center;
    width: 195px;
}

@media screen and (max-width: 1200px) {
    .list {
        display: none;
    }

    #logo {
        margin-left: 150px;
    }

    .sub_container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 990px) {
    .main_picture {
        display: none;

    }

    .sub_container {
        justify-content: center;
    }
}

@media only screen and (max-width: 825px) {
    body {
        max-width: 730px;
    }

    header {
        height: 60px;
    }

    .popular_games {
        margin: 0;
    }

    #logo {
        display: none;
    }

    #menu_logo {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        left: 10px;
        padding: 20px;
        position: absolute;
        top: 65px;
        width: 25%;
    }

    nav li {
        margin: 0;
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    nav:hover ul {
        display: block;
    }

    .popular_games {
        max-width: 640px;
    }

    .popular {
        margin-left: 0;
        width: auto;
    }

    .sub_container {
        height: auto;
        justify-content: flex-start;
    }

    .Special {
        grid-template-columns: 275px 275px;
        width: 550px;
    }

    #responsive_logo {
        display: inline-block;
    }

    .popular_sections, a.label_popular {
        grid-row-gap: 7px;
        grid-template-columns: 215px 215px;
        grid-template-rows: 58px 58px;
        margin: 0;
        padding-left: 13%;
    }

    .sub_popular_container {
        display: none;
        margin: 0;
    }

    .third_special {
        display: none;
        margin: 0;
    }

    .recommended {
        height: 353px;
        margin: 0;
        width: 616px;
    }

    .responsive_container {
        padding-left: 10%;
        width: 100%;
    }

    .popular_sections {
        height: auto;
        width: auto;
    }

}


