#image{
    max-height: 230px;
    max-width: 230px;
    border-radius: 5px;

}
#name{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0 0 0 ;
}
#login{
    font-size: 22px;
    margin: 0 0;
    opacity: 0.5;
 }
#bio{
    width: 230px;
    font-size: 20px;
    opacity: 0.5;
}
.hidden-image{
    display: none;
}

